<div class="row">

  <div class="col-xs-3"><p class="ScheduleHeader">Utställare</p></div>
  <div class="col-xs-2 col-xs-offset-4 col-sm-2 "><p class="ScheduleHeader">Tid</p></div>


</div>
<div class="row">
  <% @rooms.each do |r| %>

      <% if r.id == @schedule.rooms_id%>

          <% @exhibitors.each do |ex| %>
              <% if ex.id == s.exhibitors_id%>
                  <div class="col-xs-7" id="catbox" ><p id="ScheduleTextMargin" class="ExhibitorTitle"><%= ex.title %></p></div>
              <% end %>
          <% end %>


          <div class="col-xs-5"><p id="ScheduleTextMargin" class="ScheduleTime"><%= @schedule.time %></p></div>





      <% end %>
  <% end %>
</div>