<h1>Skapa en ny kategori</h1>
<p>Bra att veta: Innan du kan lägga till en utställare så behöver du skapa den kategori som utställaren ska tillhöra</p>

<%= render 'form' %>

<%= link_to 'Tillbaka', admin_path %>
